h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.image {
  display: block;
}

.container {
  font-family: "Roboto";
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo--blue {
  color: #2196F3;
}
.logo--black {
  color: #212121;
}

.button {
  min-width: 200px;
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu-burger {
  padding: 10px 0;
  width: 40px;
  background-color: transparent;
  border: none;
}
.header .menu-burger:hover, .header .menu-burger:focus {
  fill: #2196F3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/bg-sm.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-sm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__tittle {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  text-transform: uppercase;
  color: #fff;
}

.features__thumb {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}
.features__tittle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.team.section {
  background-color: #F5F4FA;
}

.team {
  text-align: center;
}
.team__tittle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__image {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */