.button {
    min-width: 200px;
    margin: 0;
    padding: 10px 0;

    @include fonts(700, 16px, 1.86, 0.06em);

    background-color: $accentColor;
    color: #fff;
   
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}