.logo {
    margin-right: auto;
    @include fonts(700, 24px, 1.16, 0.03em);
    font-family: "Raleway", sans-serif;

    &--blue {
        color: $accentColor;
    }
    &--black {
        color: $primaryTextColor;
    }
    &--white {
        color: #fff;
    }
}

