.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
    display: flex;
    align-items: center;
    // padding-right: 0;
    }
    .menu-burger {
        padding: 10px 0;
        width: 40px;

        background-color: transparent;
        border: none;
        &:hover,
        &:focus {
        fill: $accentColor;
            }
        }

}
