.hero {
    padding: 118px 60px;
    background-image: url(../img/hero/bg-sm.jpg);

    &__tittle {
        width: 360px;
        text-align: center;
        @include fonts(900, 26px, 1.61, 0.06em);
        text-transform: uppercase;
        color: #fff;

        //     text-transform: uppercase;
        
        //     color: #FFFFFF;
    }
}